*{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.header a{
    margin-right: 20px;
    color:rgba(0, 0, 0, 0.87);
    text-decoration: none;
    font-size: 15px;
}

.header a:hover{
    text-decoration: underline;
}

.header-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 13vw;
}

.header .header-app{
    margin-right: 10px;
}

.main-body{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 12%;
}

.main-body img{
    object-fit: contain;
    height: 100px;
}

.search-input{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
}

.search-input input{
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline: none;
}

.search-input .material-icons{
    color: gray;
}

.search-buttons{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.search-buttons button{
    margin: 5px;
    padding: 10px 15px;
    background-color: #f8f8f8;
    outline: none;
    border: none;
    cursor: pointer;
}